@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

/* fonts */
@import "@fontsource-variable/inter";
@import "@fontsource-variable/roboto-flex";
@import "@fontsource-variable/noto-sans";

@custom-variant dark (&:is(.dark *));

:root {
    --background: oklch(0.9787 0.0017 247.84);
    --foreground: oklch(0.145 0 0);
    --card: oklch(0.9963 0.0011 197.14);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(0.9963 0.0011 197.14);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.1944 0.0051 248.09);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.1944 0.0051 248.09 / 36%);
    --secondary-foreground: oklch(0.1944 0.0051 248.09);
    --muted: oklch(0.1944 0.0051 248.09 / 36%);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.1944 0.0051 248.09 / 36%);
    --accent-foreground: oklch(0.1944 0.0051 248.09);
    --destructive: oklch(0.58 0.22 27);
    --border: oklch(0.88 0.002 247.84);
    --input: oklch(0.88 0.002 247.84);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.809 0.105 251.813);
    --chart-2: oklch(0.623 0.214 259.815);
    --chart-3: oklch(0.546 0.245 262.881);
    --chart-4: oklch(0.488 0.243 264.376);
    --chart-5: oklch(0.424 0.199 265.638);
    --radius: 0.45rem;
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.1944 0.0051 248.09);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.1944 0.0051 248.09 / 36%);
    --sidebar-accent-foreground: oklch(0.1944 0.0051 248.09);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);

}

.dark {
    --background: oklch(0.12 0 0);
    --foreground: oklch(0.98 0 0);

    --card: oklch(0.16 0 0);
    --card-foreground: oklch(0.98 0 0);

    --popover: oklch(0.16 0 0 / 0.8);
    --popover-foreground: oklch(0.98 0 0);

    --primary: oklch(0.98 0 0);
    --primary-foreground: oklch(0.12 0 0);

    --secondary: oklch(0.22 0 0);
    --secondary-foreground: oklch(0.98 0 0);

    --muted: oklch(0.22 0 0);
    --muted-foreground: oklch(0.65 0 0);

    --accent: oklch(0.22 0 0);
    --accent-foreground: oklch(0.98 0 0);

    --border: oklch(0.25 0 0);
    --input: oklch(0.25 0 0);
}

@theme inline {
    --font-sans:"Inter Variable", "Roboto Flex Variable", "Noto Sans Variable", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --color-foreground: var(--foreground);
    --color-background: var(--background);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --radius-2xl: calc(var(--radius) + 8px);
    --radius-3xl: calc(var(--radius) + 12px);
    --radius-4xl: calc(var(--radius) + 16px);

    --transition-duration: .3s;
    --fast-transition-duration: .2s;
    --slow-transition-duration: .6s;
    --transition-fn: cubic-bezier(.4,0,.2,1);
    --bounce-transition-fn: cubic-bezier(.54,1.12,.38,1.11);
    --transition: all var(--transition-duration) var(--transition-fn);
    --bounce-transition: all var(--transition-duration) var(--bounce-transition-fn);
    --fast-transition: all var(--fast-transition-duration) var(--transition-fn);
    --slow-transition: all var(--slow-transition-duration) var(--transition-fn);

}

@layer base {
  * {
    @apply border-border outline-ring/50;
    }
  body {
    @apply font-sans bg-background text-foreground;
    }
  html {
    @apply font-sans;
    }
}

@layer base {
  * {
    @apply border-border outline-ring/50;

    }
  body {
    @apply bg-background text-foreground;

    }

}